

h1 {
  text-align: center;
  font-size: 70px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 25px;
  color: purple;
}

.footer {
  text-align: center;
  margin: 0px auto;
}


h4 {
  color: purple;
}